
.mainParent{
    background-color: Yellow;
    height:500px;
    width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#line{
    height:1px;
    width:50px;
    background-color: black;
   
}
#red{
    height:100px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: red;
     transform:scale3D(2,5,3);
    
    /* transform: translateY(50px) translateX(50px); */
    /* Say we want to horizontally move the element */
    
}
 /* #blue{
    height:100px;
    width:100px;
    border-radius:100%;
    background-color: blue;
    transform: rotate(185deg)
}

#green{
    height:100px;
    width:100px;
    background-color: green;
}

#yellow{
    height:100px;
    width:100px;
    background-color: yellow;
   
}  */