
.mainParent{
    background-color: Yellow;
    height:500px;
    width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#line{
    height:1px;
    width:50px;
    background-color: black;
   
}
#red:hover{
    background-color: green;
    /* transition: background-color  2s ease-out; */
}
#red{
    height:100px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* border-radius: 100%; */
    transition-property: background-color;
    transition-duration: 5s;
    transition-timing-function: ease-out;
    /* transition-delay: 2s; */
    /* transform: scale(180deg); */
    /* transform: skew(20deg ,20deg); */
    /* transform: rotate(45deg); */
     /* transform:scale3D(2,5,3); */
    /* transform: translateY(50px) translateX(50px); */
    /* Say we want to horizontally move the element */
    
}

.expand{
    height:100px;
    width:100px;
    background-color: brown;
}
.expand:hover{
    width:600px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: step-end;
}

 /* #blue{
    height:100px;
    width:100px;
    border-radius:100%;
    background-color: blue;
    transform: rotate(185deg)
}



#green{
    height:100px;
    width:100px;
    background-color: green;
}

#yellow{
    height:100px;
    width:100px;
    background-color: yellow;
   
}  */