:root{
    --teal:#031636; /*CSS Variable*/
    --cobalt:#033649; /*CSS Variable*/
    --turquoise:#066464
    --beige:#CEB280; /*CSS Variable*/
    --gold:#EADDCC; /*CSS Variable*/
}

body{
    margin:0;
    padding:0;
    background-color: var(--teal);
    color:white;
}

#MyName{
display: block;
color:var(--gold);
font-size: 30px;
}

#expList{
   /* margin: 0px ;
    padding:0px;
    background-color: black;
    width:150px;
    border: 20px solid var(--gold);
    list-style-type:none;*/
    border:10px solid var(--gold);
    padding:20px;
    margin:30px;
    width:300px;
    box-sizing: border-box;


}